https://www.kaggle.com/datasets/lakshmi25npathi/images

In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB

In [3]:
data = pd.read_csv("Youtube01-Psy.csv")
data.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   COMMENT_ID  350 non-null    object
 1   AUTHOR      350 non-null    object
 2   DATE        350 non-null    object
 3   CONTENT     350 non-null    object
 4   CLASS       350 non-null    int64
dtypes: int64(1), object(4)
memory usage: 13.8+ KB

In [8]:
data = data[["CONTENT","CLASS"]]
data.sample(5)

                                               CONTENT  CLASS
174  Subscribe to me i subscribe back!!!! Plus i ha...      1
303  im sorry for the spam but My name is Jenny. I ...      1
124  guys please subscribe me to help my channel gr...      1
79   Hi there~I'm group leader of Angel, a rookie K...      1
234  What Can i say....This Song He Just Change The...      0

In [9]:
data["CLASS"] = data["CLASS"].map({0: "Not Spam",
                                   1: "Spam Comment"})
data.sample(5)

                                               CONTENT         CLASS
140  http://www.gcmforex.com/partners/aw.aspx?Task=...  Spam Comment
162  look at my channel i make minecraft pe lets pl...  Spam Comment
216  Lol...I dunno how this joke gets a lot of like...      Not Spam
205             2.126.521.750  views!!!!!!!!!!!!!!!!!﻿      Not Spam
44   if you like raw talent, raw lyrics, straight r...  Spam Comment

In [10]:
x = np.array(data["CONTENT"])
y = np.array(data["CLASS"])

cv = CountVectorizer()  #It is used to transform a given text into a vector on the 
# basis of the frequency (count) of each word that occurs in the entire text
x = cv.fit_transform(x)
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2, random_state=42)
model = BernoulliNB()
model.fit(xtrain,ytrain)
model.score(xtest,ytest)

0.9857142857142858

In [13]:
sample = "Check this out: https://thecleverprogrammer.com/" 
data = cv.transform([sample]).toarray()
print(model.predict(data))

['Spam Comment']

In [14]:
sample = "Lack of information!" 
data = cv.transform([sample]).toarray()
print(model.predict(data))

['Not Spam']